In [28]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import csv

# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2020)

# Configure gmaps
gmaps.configure(api_key=gkey)

# State FIPS codes
# This is where you're going to import the FIPS codes from States.csv
states_df = pd.read_csv('resources/States.csv')

In [29]:
#c_variablesLink = "http://api.census.gov/data/2020/acs/acs5/variables.json"
#variablesData = requests.get(c_variablesLink).json()
#variables_pd = pd.DataFrame(variablesData)
# print(variables_pd)
#variables_pd.to_csv('variabledata.csv')

In [30]:
census_data_pbr = c.acs5.get(("B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_007E",
                          "B02001_008E","B02001_009E","B02001_010E","B01003_001E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd_pbr = pd.DataFrame(census_data_pbr)
# census_pd_pbr['populationTotal'] = census_pd_pbr["B01003_001E"]
# = census_pd_pbr.sum(axis=1, numeric_only=True)
# Column Reordering
census_pd_pbr = census_pd_pbr.rename(columns={"B02001_002E":"White alone",
                                      "B02001_003E":"Black or African American alone",
                                      "B02001_004E":"American Indian and Alaska Native alone",
                                      "B02001_005E":"Asian alone",
                                      "B02001_006E":"Native Hawaiian and Other Pacific Islander alone",
                                      "B02001_007E":"Some other race alone",
                                      "B02001_008E":"Two or more races",
                                      "B02001_009E":"Two races including Some other race",
                                      "B02001_010E":"Two races excluding Some other race, and three or more races",
                                      "state":"State",
                                      "B01003_001E": "Total Population"})

census_pd_pbr = census_pd_pbr[["State", "Total Population","White alone","Black or African American alone","American Indian and Alaska Native alone","Asian alone",
                       "Native Hawaiian and Other Pacific Islander alone","Some other race alone","Two or more races",
                       "Two races including Some other race","Two races excluding Some other race, and three or more races"]]

In [31]:
# census_pd_pbr.sum(axis=1, numeric_only=True)

In [32]:
census_pd_pbr.head()

,State,Total Population,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Two races including Some other race,"Two races excluding Some other race, and three or more races"
0,42,12794885.0,10155004.0,1419582.0,20798.0,449320.0,4268.0,312888.0,433025.0,129126.0,303899.0
1,06,39346023.0,22053721.0,2250962.0,311629.0,5834312.0,149636.0,5623747.0,3122016.0,1472235.0,1649781.0
2,54,1807426.0,1672255.0,64285.0,3146.0,14228.0,474.0,9278.0,43760.0,9399.0,34361.0
3,49,3151239.0,2682881.0,38059.0,33222.0,73190.0,29450.0,160786.0,133651.0,47171.0,86480.0
4,36,19514849.0,12160045.0,3002401.0,76535.0,1674216.0,9376.0,1670723.0,921553.0,400648.0,520905.0

In [33]:
# print(states_df.loc("code",0))

# print (states_df.query('Code" == "0"')["Abbreviation"])
# states_df.query('Code == 1')['Abbreviation']

# states_df

In [34]:
census_data_pbrZip = c.acs5.get(("B02001_002E","B02001_003E","B02001_004E","B02001_005E","B02001_006E","B02001_007E",
                          "B02001_008E","B02001_009E","B02001_010E"), {'for': 'zip code tabulation area:*'})
census_pd_pbrZip = pd.DataFrame(census_data_pbrZip)
census_pd_pbrZip['rowTotal'] = census_pd_pbrZip.sum(axis=1, numeric_only= True)

census_pd_pbrZip = census_pd_pbrZip.rename(columns={
                                      "B02001_002E":"White alone",
                                      "B02001_003E":"Black or African American alone",
                                      "B02001_004E":"American Indian and Alaska Native alone",
                                      "B02001_005E":"Asian alone",
                                      "B02001_006E":"Native Hawaiian and Other Pacific Islander alone",
                                      "B02001_007E":"Some other race alone",
                                      "B02001_008E":"Two or more races",
                                      "B02001_009E":"Two races including Some other race",
                                      "B02001_010E":"Two races excluding Some other race, and three or more races",
                                      "zip code tabulation area":"Zip Code",
                                      "rowTotal": "Total Responses"
                                      })

census_pd_pbrZip = census_pd_pbrZip[["Zip Code","Total Responses","White alone","Black or African American alone","American Indian and Alaska Native alone","Asian alone",
                       "Native Hawaiian and Other Pacific Islander alone","Some other race alone","Two or more races",
                       "Two races including Some other race","Two races excluding Some other race, and three or more races"]]

In [35]:
census_pd_pbrZip.sample(10, random_state=100)

,Zip Code,Total Responses,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Two races including Some other race,"Two races excluding Some other race, and three or more races"
25075,27502,44762.0,35151.0,2759.0,29.0,3235.0,109.0,645.0,1417.0,760.0,657.0
17616,80440,2663.0,2428.0,24.0,0.0,0.0,0.0,21.0,95.0,0.0,95.0
31910,99741,546.0,175.0,0.0,287.0,2.0,0.0,0.0,41.0,10.0,31.0
26955,02635,2826.0,2652.0,150.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0
33013,60188,42921.0,26939.0,2851.0,48.0,8244.0,12.0,1929.0,1449.0,644.0,805.0
5336,03301,34512.0,29345.0,969.0,320.0,1633.0,0.0,321.0,962.0,92.0,870.0
24328,21702,44386.0,28382.0,7406.0,186.0,1699.0,20.0,1379.0,2657.0,1401.0,1256.0
27651,60455,16678.0,13275.0,608.0,0.0,803.0,0.0,632.0,680.0,364.0,316.0
31409,46781,681.0,658.0,0.0,2.0,2.0,0.0,5.0,7.0,0.0,7.0
30066,79012,2169.0,2143.0,0.0,0.0,0.0,0.0,0.0,13.0,13.0,0.0

In [37]:
census_data_povGender_Zip = c.acs5.get(("B17003_004E","B17003_005E","B17003_006E","B17003_007E","B17003_009E","B17003_010E",
						  "B17003_011E","B17003_012E","B17003_015E","B17003_016E","B17003_017E","B17003_018E","B17003_020E",
						  "B17003_021E","B17003_022E","B17003_023E",), {"for": "zip code tabulation area:*"})
census_pd_povGender_Zip = pd.DataFrame(census_data_povGender_Zip)
census_pd_povGender_Zip['populationTotal'] = census_pd_povGender_Zip.sum(axis=1, numeric_only= True)
census_pd_povGender_Zip = census_pd_povGender_Zip.rename(columns={"B17003_004E":"Male Below Poverty: Less than high school graduate",
									"B17003_005E":"Male Below Poverty: High school graduate (includes equivalency)",
									"B17003_006E":"Male Below Poverty: Some college, associate's degree",
									"B17003_007E":"Male Below Poverty: Bachelor's degree or higher",
									"B17003_009E":"Female Below Poverty: Less than high school graduate",
									"B17003_010E":"Female Below Poverty: High school graduate (includes equivalency)",
									"B17003_011E":"Female Below Poverty: Some college, associate's degree",
									"B17003_012E":"Female Below Poverty: Bachelor's degree or higher",
									"B17003_015E":"Male Above Poverty: Less than high school graduate",
									"B17003_016E":"Male Above Poverty: High school graduate (includes equivalency)",
									"B17003_017E":"Male Above Poverty: Some college, associate's degree",
									"B17003_018E":"Male Above Poverty: Bachelor's degree or higher",
									"B17003_020E":"Female Above Poverty: Less than high school graduate",
									"B17003_021E":"Female Above Poverty: High school graduate (includes equivalency)",
									"B17003_022E":"Female Above Poverty: Some college, associate's degree",
									"B17003_023E":"Female Above Poverty: Bachelors degree or higher",
                                     "zip code tabulation area":"Zip Code",
                                     "populationTotal": "Total Responses" })

census_pd_povGender_Zip = census_pd_povGender_Zip[[
"Zip Code","Total Responses",
"Male Below Poverty: Less than high school graduate",
"Male Below Poverty: High school graduate (includes equivalency)",
"Male Below Poverty: Some college, associate's degree",
"Male Below Poverty: Bachelor's degree or higher",
"Female Below Poverty: Less than high school graduate",
"Female Below Poverty: High school graduate (includes equivalency)",
"Female Below Poverty: Some college, associate's degree",
"Female Below Poverty: Bachelor's degree or higher",
"Male Above Poverty: Less than high school graduate",
"Male Above Poverty: High school graduate (includes equivalency)",
"Male Above Poverty: Some college, associate's degree",
"Male Above Poverty: Bachelor's degree or higher",
"Female Above Poverty: Less than high school graduate",
"Female Above Poverty: High school graduate (includes equivalency)",
"Female Above Poverty: Some college, associate's degree",
"Female Above Poverty: Bachelors degree or higher"
]]


census_pd_povGender_Zip.sample(10, random_state=100)

,Zip Code,Total Responses,Male Below Poverty: Less than high school graduate,Male Below Poverty: High school graduate (includes equivalency),"Male Below Poverty: Some college, associate's degree",Male Below Poverty: Bachelor's degree or higher,Female Below Poverty: Less than high school graduate,Female Below Poverty: High school graduate (includes equivalency),"Female Below Poverty: Some college, associate's degree",Female Below Poverty: Bachelor's degree or higher,Male Above Poverty: Less than high school graduate,Male Above Poverty: High school graduate (includes equivalency),"Male Above Poverty: Some college, associate's degree",Male Above Poverty: Bachelor's degree or higher,Female Above Poverty: Less than high school graduate,Female Above Poverty: High school graduate (includes equivalency),"Female Above Poverty: Some college, associate's degree",Female Above Poverty: Bachelors degree or higher
25075,27502,28004.0,0.0,53.0,47.0,233.0,96.0,67.0,153.0,153.0,408.0,1012.0,3053.0,8483.0,185.0,1579.0,3793.0,8689.0
17616,80440,1918.0,0.0,6.0,9.0,98.0,0.0,13.0,33.0,16.0,21.0,298.0,337.0,260.0,14.0,128.0,402.0,283.0
31910,99741,323.0,0.0,7.0,5.0,1.0,2.0,7.0,7.0,3.0,8.0,43.0,37.0,41.0,16.0,33.0,32.0,81.0
26955,02635,2197.0,0.0,13.0,0.0,11.0,5.0,14.0,24.0,59.0,19.0,67.0,192.0,635.0,10.0,119.0,400.0,629.0
33013,60188,28762.0,160.0,160.0,186.0,329.0,238.0,312.0,248.0,285.0,1058.0,2259.0,3794.0,5739.0,1019.0,3033.0,4396.0,5546.0
5336,03301,22386.0,189.0,315.0,166.0,180.0,280.0,300.0,355.0,204.0,607.0,2489.0,2337.0,4367.0,526.0,2115.0,3041.0,4915.0
24328,21702,28366.0,522.0,242.0,140.0,94.0,256.0,359.0,506.0,102.0,1100.0,2691.0,3881.0,5135.0,979.0,2704.0,3427.0,6228.0
27651,60455,10595.0,137.0,310.0,101.0,44.0,88.0,319.0,90.0,213.0,706.0,1926.0,1134.0,679.0,612.0,1548.0,1508.0,1180.0
31409,46781,470.0,0.0,3.0,13.0,3.0,1.0,6.0,1.0,0.0,5.0,137.0,82.0,15.0,6.0,94.0,80.0,24.0
30066,79012,1297.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,125.0,309.0,80.0,0.0,112.0,429.0,146.0

In [38]:
# census_pd_povGender_Zip.sample(25, random_state=100)

In [39]:
census_data_povRace = c.acs5.get(("B17001B_002E","B17001A_002E"), {"for": "zip code tabulation area:*"})
census_pd_povRace = pd.DataFrame(census_data_povRace)
census_pd_povRace = census_pd_povRace.rename(columns={"zip code tabulation area":"Zip Code",
                                                        "B17001B_002E":"Black respondants below poverty",
                                                       "B17001A_002E":"White respondants below poverty"})
census_pd_povRace.sample(10, random_state=100)

,Black respondants below poverty,White respondants below poverty,Zip Code
25075,422.0,1003.0,27502
17616,0.0,280.0,80440
31910,0.0,11.0,99741
26955,0.0,169.0,02635
33013,401.0,1377.0,60188
5336,142.0,2454.0,03301
24328,829.0,2515.0,21702
27651,37.0,2240.0,60455
31409,0.0,55.0,46781
30066,0.0,0.0,79012

In [41]:
census_data_60637 = c.acs5.get(("B17001B_002E","B17001A_002E", "B01003_001E"), {"for": "zip code tabulation area:60637,10027,60208,02912,90007,19104,27708,63130,10458,20057"})
uChicago_df = pd.DataFrame(census_data_60637)
uChicago_df = uChicago_df.rename(columns={"zip code tabulation area":"Zip Code",
                                                      "B01003_001E":"Total Respondants",
                                                        "B17001B_002E":"Black respondants below poverty",
                                                       "B17001A_002E":"White respondants below poverty"})
uChicago_df

,Black respondants below poverty,White respondants below poverty,Total Respondants,Zip Code
0,9403.0,3802.0,52480.0,19104
1,6226.0,1979.0,64728.0,10027
2,12863.0,937.0,46621.0,60637
3,1663.0,4832.0,42380.0,90007
4,2.0,13.0,3948.0,20057
5,1413.0,1601.0,29080.0,63130
6,0.0,0.0,1279.0,02912
7,5189.0,4049.0,85893.0,10458

In [73]:
census_data_povTotal = c.acs5.get(("B17020_002E","B17020_010E","B01003_001E"), {"for": "zip code tabulation area:*"})
census_pd_povTotal = pd.DataFrame(census_data_povTotal)
census_pd_povTotal['respondantTotal'] = census_pd_povTotal.sum(axis=1, numeric_only= True)
# census_pd_povTotal['repondantTotal'] = census_pd_povTotal.drop("B17020_002E", axis=1).sum(axis=1, numeric_only= True)
census_pd_povTotal = census_pd_povTotal.rename(columns={"zip code tabulation area":"Zip Code",
                                                        "B17020_002E":"Total living in poverty",
                                                        "B17020_010E":"Total living above poverty",
                                                        "respondantTotal": "Total Respondants"
                                                       })
print(census_pd_povTotal.sample(50, random_state=15))

       Total living in poverty  Total living above poverty Zip Code  \
3438                     124.0                      1886.0    12788
4150                     202.0                      2283.0    14525
7684                     567.0                       597.0    24868
25482                      6.0                       322.0    73761
21856                    619.0                      5214.0    63089
10959                   3460.0                     23406.0    33770
3992                      21.0                      1687.0    14040
10808                   2260.0                     10170.0    33403
2360                     282.0                      9479.0    08106
25361                    144.0                       826.0    73481
6333                     231.0                      5672.0    20622
497                     7498.0                     31736.0    02150
5651                       0.0                       159.0    18081
2890                    3143.0                     34621.0    11412
31989                   3900.0                     47373.0    97223
5933                    1014.0                      2969.0    19022
4244                     131.0                      1653.0    14741
21532                   4980.0                     29173.0    62521
13446                   3320.0                      6767.0    41653
16452                   1348.0                     28617.0    49464
14128                    341.0                      2415.0    43942
17119                    113.0                       556.0    50845
70                     15772.0                     20459.0    00754
30310                   7352.0                     46306.0    91786
19759                     34.0                       485.0    58235
21073                    373.0                      2453.0    61529
21736                   1164.0                      8455.0    62918
27695                   4126.0                     19140.0    79603
22538                    404.0                      2287.0    65081
8593                     395.0                      2415.0    27852
27887                    596.0                     20757.0    80238
12132                   2377.0                     11094.0    37618
29732                     37.0                        81.0    88051
9081                    1357.0                      5949.0    28719
14456                   2699.0                     21489.0    44708
29249                   2776.0                     18742.0    85541
12075                   1350.0                      6558.0    37347
31388                    654.0                      2017.0    95464
15624                      0.0                         0.0    47836
8605                     220.0                       688.0    27866
9283                     134.0                       676.0    29355
23879                     70.0                       838.0    68814
7303                      73.0                       630.0    23889
19739                   3897.0                     10788.0    58203
9781                    1581.0                      3128.0    30363
24719                    422.0                      4130.0    71929
23749                     89.0                      2624.0    68520
15219                    211.0                      1894.0    46745
216                      204.0                      2162.0    01235
22528                    115.0                       683.0    65068

       Total Respondants
3438              2010.0
4150              2485.0
7684              1164.0
25482              328.0
21856             5833.0
10959            26866.0
3992              1708.0
10808            12430.0
2360              9761.0
25361              970.0
6333              5903.0
497              39234.0
5651               159.0
2890             37764.0
31989            51273.0
5933              3983.0
4244              1784.0
21532            34153.0
13446            10087.0
16452            29965.0
14128             2756.0
17119              669.0
70               36231.0
30310            53658.0
19759              519.0
21073             2826.0
21736             9619.0
27695            23266.0
22538             2691.0
8593              2810.0
27887            21353.0
12132            13471.0
29732              118.0
9081              7306.0
14456            24188.0
29249            21518.0
12075             7908.0
31388             2671.0
15624                0.0
8605               908.0
9283               810.0
23879              908.0
7303               703.0
19739            14685.0
9781              4709.0
24719             4552.0
23749             2713.0
15219             2105.0
216               2366.0
22528              798.0

In [106]:
census_data_Highest = c.acs5.get(("B17020_002E","B17020_010E","B01003_001E"), {"for": "zip code tabulation area:60637,10027,60201,10012,90007,19104,27701,63130,10458,91103"})
census_pd_Highest = pd.DataFrame(census_data_Highest)
# census_pd_Highest['respondantTotal'] = census_pd_Highest.sum(axis=1, numeric_only= True)
census_pd_Highest = census_pd_Highest.rename(columns={"zip code tabulation area":"Zip Code",
                                                        "B17020_002E":"Total living in poverty",
                                                        "B17020_010E":"Total living above poverty",
                                                        "B01003_001E":"Total Respondants"
                                                       })
census_pd_Highest

,Total living in poverty,Total living above poverty,Total Respondants,Zip Code
0,16652.0,22252.0,52480.0,19104
1,13049.0,44800.0,64728.0,10027
2,5012.0,21058.0,26837.0,91103
3,14934.0,28283.0,46621.0,60637
4,13792.0,22640.0,42380.0,90007
5,3982.0,23917.0,29080.0,63130
6,6116.0,16743.0,23415.0,27701
7,5492.0,29510.0,41386.0,60201
8,26616.0,56332.0,85893.0,10458
9,2397.0,19417.0,23034.0,10012

In [92]:
census_data_Random = c.acs5.get(("B17020_002E","B17020_010E","B01003_001E"), {"for": "zip code tabulation area:98125,98391,27405,32073,33604,90804,96720,29466,07960,77901"})
census_pd_Random = pd.DataFrame(census_data_Random)
#census_pd_Random['respondantTotal'] = census_pd_Random.sum(axis=1, numeric_only= True)
census_pd_Random = census_pd_Random.rename(columns={"zip code tabulation area":"Zip Code",
                                                        "B17020_002E":"Total living in poverty",
                                                        "B17020_010E":"Total living above poverty",
                                                        "B01003_001E":"Total Respondants"
                                                       })
census_pd_Random

,Total living in poverty,Total living above poverty,Total Respondants,Zip Code
0,4627.0,39193.0,44030.0,98125
1,4368.0,37115.0,42153.0,32073
2,2832.0,40815.0,44998.0,07960
3,1087.0,40200.0,41466.0,29466
4,7740.0,38747.0,48647.0,96720
5,2159.0,50357.0,52686.0,98391
6,7496.0,29341.0,38151.0,90804
7,13708.0,37087.0,51160.0,27405
8,9871.0,31680.0,42620.0,77901
9,8874.0,31251.0,40309.0,33604

In [127]:
census_data_povGender_Highest = c.acs5.get(("B17003_004E","B17003_005E","B17003_006E","B17003_007E","B17003_009E","B17003_010E",
						  "B17003_011E","B17003_012E","B17003_015E","B17003_016E","B17003_017E","B17003_018E","B17003_020E",
						  "B17003_021E","B17003_022E","B17003_023E","B01003_001E"), {"for": "zip code tabulation area:60637,10027,60201,10012,90007,19104,27701,63130,10458,91103"})
census_pd_povGender_Highest = pd.DataFrame(census_data_povGender_Highest)



census_pd_povGender_Highest = census_pd_povGender_Highest.rename(columns={"B17003_004E":"Male Below Poverty: Less than high school graduate",
									"B17003_005E":"Male Below Poverty: High school graduate (includes equivalency)",
									"B17003_006E":"Male Below Poverty: Some college, associate's degree",
									"B17003_007E":"Male Below Poverty: Bachelor's degree or higher",
									"B17003_009E":"Female Below Poverty: Less than high school graduate",
									"B17003_010E":"Female Below Poverty: High school graduate (includes equivalency)",
									"B17003_011E":"Female Below Poverty: Some college, associate's degree",
									"B17003_012E":"Female Below Poverty: Bachelor's degree or higher",
									"B17003_015E":"Male Above Poverty: Less than high school graduate",
									"B17003_016E":"Male Above Poverty: High school graduate (includes equivalency)",
									"B17003_017E":"Male Above Poverty: Some college, associate's degree",
									"B17003_018E":"Male Above Poverty: Bachelor's degree or higher",
									"B17003_020E":"Female Above Poverty: Less than high school graduate",
									"B17003_021E":"Female Above Poverty: High school graduate (includes equivalency)",
									"B17003_022E":"Female Above Poverty: Some college, associate's degree",
									"B17003_023E":"Female Above Poverty: Bachelors degree or higher",
                                     "zip code tabulation area":"Zip Code",
                                     "B01003_001E": "Total Responses" })
census_pd_povGender_Highest['Total below poverty: Less than High School Graduate'] = (census_pd_povGender_Highest["Male Below Poverty: Less than high school graduate"]
         + census_pd_povGender_Highest["Female Below Poverty: Less than high school graduate"])
census_pd_povGender_Highest['Total below poverty: High school graduate (includes equivalency)'] = (census_pd_povGender_Highest["Male Below Poverty: High school graduate (includes equivalency)"]
         + census_pd_povGender_Highest["Female Below Poverty: High school graduate (includes equivalency)"])
census_pd_povGender_Highest["Total below poverty: Some college, associate's degree"] = (census_pd_povGender_Highest["Male Below Poverty: Some college, associate's degree"]
         + census_pd_povGender_Highest["Female Below Poverty: Some college, associate's degree"])
census_pd_povGender_Highest["Total below poverty: Some college, Bachelor's degree or higher"] = (census_pd_povGender_Highest["Male Below Poverty: Bachelor's degree or higher"]
         + census_pd_povGender_Highest["Female Below Poverty: Bachelor's degree or higher"])

census_pd_povGender_Highest['Total Above poverty: Less than High School Graduate'] = (census_pd_povGender_Highest["Male Above Poverty: Less than high school graduate"]
         + census_pd_povGender_Highest["Female Above Poverty: Less than high school graduate"])
census_pd_povGender_Highest['Total Above poverty: High school graduate (includes equivalency)'] = (census_pd_povGender_Highest["Male Above Poverty: High school graduate (includes equivalency)"]
         + census_pd_povGender_Highest["Female Above Poverty: High school graduate (includes equivalency)"])
census_pd_povGender_Highest["Total Above poverty: Some college, associate's degree"] = (census_pd_povGender_Highest["Male Above Poverty: Some college, associate's degree"]
         + census_pd_povGender_Highest["Female Above Poverty: Some college, associate's degree"])
census_pd_povGender_Highest["Total Above poverty: Some college, Bachelor's degree or higher"] = (census_pd_povGender_Highest["Male Above Poverty: Bachelor's degree or higher"]
         + census_pd_povGender_Highest["Female Above Poverty: Bachelors degree or higher"])

census_pd_povGender_Highest = census_pd_povGender_Highest[[
"Zip Code","Total Responses",
'Total below poverty: Less than High School Graduate',
'Total below poverty: High school graduate (includes equivalency)',
"Total below poverty: Some college, associate's degree",
"Total below poverty: Some college, Bachelor's degree or higher",
'Total Above poverty: Less than High School Graduate',
'Total Above poverty: High school graduate (includes equivalency)',
"Total Above poverty: Some college, associate's degree",
"Total Above poverty: Some college, Bachelor's degree or higher"
]]

census_pd_povGender_Highest

,Zip Code,Total Responses,Total below poverty: Less than High School Graduate,Total below poverty: High school graduate (includes equivalency),"Total below poverty: Some college, associate's degree","Total below poverty: Some college, Bachelor's degree or higher",Total Above poverty: Less than High School Graduate,Total Above poverty: High school graduate (includes equivalency),"Total Above poverty: Some college, associate's degree","Total Above poverty: Some college, Bachelor's degree or higher"
0,19104,52480.0,1374.0,2501.0,1551.0,1445.0,1484.0,2950.0,2966.0,7712.0
1,10027,64728.0,2338.0,2229.0,1562.0,2159.0,2982.0,6372.0,5467.0,18577.0
2,91103,26837.0,1031.0,932.0,714.0,389.0,2596.0,3087.0,3311.0,6023.0
3,60637,46621.0,1669.0,2130.0,2884.0,1484.0,1626.0,4205.0,6238.0,8275.0
4,90007,42380.0,1817.0,991.0,819.0,1441.0,5432.0,2996.0,3059.0,3911.0
5,63130,29080.0,188.0,669.0,356.0,330.0,718.0,1997.0,3309.0,11428.0
6,27701,23415.0,1101.0,854.0,615.0,621.0,2146.0,1960.0,1925.0,6993.0
7,60201,41386.0,234.0,586.0,346.0,701.0,818.0,1611.0,2606.0,16198.0
8,10458,85893.0,5831.0,4018.0,2594.0,1142.0,10424.0,10520.0,10048.0,5568.0
9,10012,23034.0,378.0,136.0,151.0,980.0,448.0,956.0,1259.0,13583.0

In [129]:
census_data_povGender_Random = c.acs5.get(("B17003_004E","B17003_005E","B17003_006E","B17003_007E","B17003_009E","B17003_010E",
						  "B17003_011E","B17003_012E","B17003_015E","B17003_016E","B17003_017E","B17003_018E","B17003_020E",
						  "B17003_021E","B17003_022E","B17003_023E","B01003_001E"), {"for": "zip code tabulation area:98125,98391,27405,32073,33604,90804,96720,29466,07960,77901"})
census_pd_povGender_Random = pd.DataFrame(census_data_povGender_Random)



census_pd_povGender_Random = census_pd_povGender_Random.rename(columns={"B17003_004E":"Male Below Poverty: Less than high school graduate",
									"B17003_005E":"Male Below Poverty: High school graduate (includes equivalency)",
									"B17003_006E":"Male Below Poverty: Some college, associate's degree",
									"B17003_007E":"Male Below Poverty: Bachelor's degree or higher",
									"B17003_009E":"Female Below Poverty: Less than high school graduate",
									"B17003_010E":"Female Below Poverty: High school graduate (includes equivalency)",
									"B17003_011E":"Female Below Poverty: Some college, associate's degree",
									"B17003_012E":"Female Below Poverty: Bachelor's degree or higher",
									"B17003_015E":"Male Above Poverty: Less than high school graduate",
									"B17003_016E":"Male Above Poverty: High school graduate (includes equivalency)",
									"B17003_017E":"Male Above Poverty: Some college, associate's degree",
									"B17003_018E":"Male Above Poverty: Bachelor's degree or higher",
									"B17003_020E":"Female Above Poverty: Less than high school graduate",
									"B17003_021E":"Female Above Poverty: High school graduate (includes equivalency)",
									"B17003_022E":"Female Above Poverty: Some college, associate's degree",
									"B17003_023E":"Female Above Poverty: Bachelors degree or higher",
                                     "zip code tabulation area":"Zip Code",
                                     "B01003_001E": "Total Responses" })
census_pd_povGender_Random['Total below poverty: Less than High School Graduate'] = (census_pd_povGender_Random["Male Below Poverty: Less than high school graduate"]
         + census_pd_povGender_Random["Female Below Poverty: Less than high school graduate"])
census_pd_povGender_Random['Total below poverty: High school graduate (includes equivalency)'] = (census_pd_povGender_Random["Male Below Poverty: High school graduate (includes equivalency)"]
         + census_pd_povGender_Random["Female Below Poverty: High school graduate (includes equivalency)"])
census_pd_povGender_Random["Total below poverty: Some college, associate's degree"] = (census_pd_povGender_Random["Male Below Poverty: Some college, associate's degree"]
         + census_pd_povGender_Random["Female Below Poverty: Some college, associate's degree"])
census_pd_povGender_Random["Total below poverty: Some college, Bachelor's degree or higher"] = (census_pd_povGender_Random["Male Below Poverty: Bachelor's degree or higher"]
         + census_pd_povGender_Random["Female Below Poverty: Bachelor's degree or higher"])

census_pd_povGender_Random['Total Above poverty: Less than High School Graduate'] = (census_pd_povGender_Random["Male Above Poverty: Less than high school graduate"]
         + census_pd_povGender_Random["Female Above Poverty: Less than high school graduate"])
census_pd_povGender_Random['Total Above poverty: High school graduate (includes equivalency)'] = (census_pd_povGender_Random["Male Above Poverty: High school graduate (includes equivalency)"]
         + census_pd_povGender_Random["Female Above Poverty: High school graduate (includes equivalency)"])
census_pd_povGender_Random["Total Above poverty: Some college, associate's degree"] = (census_pd_povGender_Random["Male Above Poverty: Some college, associate's degree"]
         + census_pd_povGender_Random["Female Above Poverty: Some college, associate's degree"])
census_pd_povGender_Random["Total Above poverty: Some college, Bachelor's degree or higher"] = (census_pd_povGender_Random["Male Above Poverty: Bachelor's degree or higher"]
         + census_pd_povGender_Random["Female Above Poverty: Bachelors degree or higher"])

census_pd_povGender_Random = census_pd_povGender_Random[[
"Zip Code",
'Total below poverty: Less than High School Graduate',
'Total below poverty: High school graduate (includes equivalency)',
"Total below poverty: Some college, associate's degree",
"Total below poverty: Some college, Bachelor's degree or higher"
]]

census_pd_povGender_Random

,Zip Code,Total below poverty: Less than High School Graduate,Total below poverty: High school graduate (includes equivalency),"Total below poverty: Some college, associate's degree","Total below poverty: Some college, Bachelor's degree or higher",Total Above poverty: Less than High School Graduate,Total Above poverty: High school graduate (includes equivalency),"Total Above poverty: Some college, associate's degree","Total Above poverty: Some college, Bachelor's degree or higher"
0,98125,679.0,507.0,699.0,1112.0,1511.0,3832.0,6756.0,17845.0
1,32073,529.0,545.0,1044.0,262.0,2037.0,7472.0,10526.0,7206.0
2,07960,310.0,443.0,273.0,699.0,1413.0,4062.0,4054.0,20492.0
3,29466,159.0,150.0,139.0,318.0,742.0,3984.0,6698.0,15964.0
4,96720,507.0,1819.0,1054.0,843.0,1442.0,7331.0,9424.0,10422.0
5,98391,249.0,585.0,281.0,187.0,1405.0,8266.0,13957.0,9201.0
6,90804,1606.0,1044.0,1256.0,459.0,4460.0,3664.0,6089.0,7067.0
7,27405,1728.0,2428.0,2318.0,637.0,3636.0,7374.0,7751.0,6698.0
8,77901,1533.0,1826.0,843.0,198.0,4573.0,6707.0,6799.0,3233.0
9,33604,1440.0,2099.0,1202.0,481.0,2933.0,8339.0,6982.0,5296.0

In [148]:
census_data_Income_Highest = c.acs5.get(("B19001_002E","B19001_003E","B19001_004E","B19001_005E","B19001_006E",
                                         "B19001_007E","B19001_008E","B19001_009E","B19001_010E","B19001_011E",
                                         "B19001_012E","B19001_013E","B19001_014E","B19001_015E","B19001_016E",
                                         "B19001_017E"), {"for": "zip code tabulation area:60637,10027,60201,10012,90007,19104,27701,63130,10458,91103"})
census_pd_Income_Highest = pd.DataFrame(census_data_Income_Highest)
census_pd_Income_Highest["Total below $50,000"] = (census_pd_Income_Highest["B19001_002E"]+census_pd_Income_Highest["B19001_003E"]+
census_pd_Income_Highest["B19001_004E"]+census_pd_Income_Highest["B19001_005E"]+
census_pd_Income_Highest["B19001_006E"]+census_pd_Income_Highest["B19001_007E"]+
census_pd_Income_Highest["B19001_008E"]+census_pd_Income_Highest["B19001_009E"]+
census_pd_Income_Highest["B19001_010E"])
census_pd_Income_Highest["Total from $\$$50,000 to $\$$99,999"] =(census_pd_Income_Highest["B19001_011E"]+census_pd_Income_Highest["B19001_012E"]+
census_pd_Income_Highest["B19001_013E"])
census_pd_Income_Highest["Total from $\$$100,000 to $\$$149,999"] =(census_pd_Income_Highest["B19001_014E"]+census_pd_Income_Highest["B19001_015E"])
census_pd_Income_Highest["Total from $\$$150,000 to $\$$199,999"] =census_pd_Income_Highest["B19001_016E"]
census_pd_Income_Highest["Total above $\$$200,000"] =census_pd_Income_Highest["B19001_017E"]
census_pd_Income_Highest["Zip Code"] = census_pd_Income_Highest["zip code tabulation area"]

census_pd_Income_Highest = census_pd_Income_Highest[[
"Zip Code",
"Total below $50,000",
"Total from $\$$50,000 to $\$$99,999",
"Total from $\$$100,000 to $\$$149,999",
"Total from $\$$150,000 to $\$$199,999",
"Total above $\$$200,000"
]]

census_pd_Income_Highest

,Zip Code,"Total below $50,000","Total from $\$$50,000 to $\$$99,999","Total from $\$$100,000 to $\$$149,999","Total from $\$$150,000 to $\$$199,999","Total above $\$$200,000"
0,19104,11433.0,3189.0,1142.0,308.0,436.0
1,10027,10988.0,5311.0,3371.0,1509.0,2656.0
2,91103,3337.0,2029.0,1326.0,785.0,1008.0
3,60637,12916.0,4062.0,1632.0,559.0,953.0
4,90007,8045.0,2882.0,840.0,247.0,234.0
5,63130,4594.0,3098.0,1634.0,1031.0,1953.0
6,27701,5696.0,2336.0,1076.0,532.0,714.0
7,60201,5519.0,2917.0,2220.0,1065.0,3311.0
8,10458,17851.0,7939.0,1947.0,650.0,318.0
9,10012,2902.0,2675.0,2333.0,1060.0,3604.0